.apresentacao {
    display: flex;
    justify-content: space-evenly;
}

.apresentacao__descricao {
    text-align: center;
}

.apresentacao__descricao__titulo-principal {
    font-family: var(--font-titulos);
    font-size: 32px;
    font-weight: 800;
    color: var(--cor-titulos);
}

.apresentacao__descricao__titulo-secundario {
    font-family: var(--font-titulos);
    font-size: 32px;
    font-weight: 400;
    margin: 0.3em 0;
}

.apresentacao__descricao__texto {
    font-family: var(--font-texto-apresentacao);
    font-weight: 700;

}