.rodape {
    background: var(--cor-fundo);
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.rodape__lista {
    text-align: left;
}

.rodape__lista li {
    display: flex;
    margin: 1em 0;
    justify-content: space-evenly;
}