.projeto-mais__titulo {
    font-family: var(--font-titulos);
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--cor-titulo-projeto);
    margin-bottom: 0.5em;
}


@media screen and (min-width: 1220px) {

    .projeto-mais__titulo {
        margin: 1em 0 2em 0;
    }

}