
.sobre {
    text-align: center;
}
.sobre__titulo {
}

.sobre__titulo {
   font-family: var(--font-titulos);
   font-size: 32px; 
   font-weight: 400;
   margin-bottom: 0.5em;
}

.sobre__texto {
    width: 90%;
    margin: auto;
    text-align: left;
    font-family: var(--font-texto-apresentacao);
    font-weight: 700;
}

.sobre__sub-titulo {
    margin: 1.5em 0 0 0;
}

.sobre__video {
    
    width: 90%;
}

@media screen and (min-width: 720px) {

    .sobre__texto {
        font-size: 18px; 
    }

    .sobre h3 {
        margin-top: 6em;
    }

    .sobre iframe {
        margin-top: 10px;
        width: 515px;
        height: 290px;
        border-radius: 50px;
    }
    
}

@media screen and (min-width: 1220px) {
    
    .sobre {
        width: 60%;
        margin: 0 auto;
    }

    .sobre iframe {
        margin-top: 30px;
        width: 550px;
        height: 310px;
        border-radius: 50px;
    }

}