.cabecalho {
    background: var(--cor-fundo);
    border-radius: 10px 10px 0px 0px;
    height: 4em;
}

.material-symbols-outlined {
    color: white;
    font-size: 4em;
}

.opcoes {
    display: none;
    position: absolute;
    background: var(--cor-fundo-opcoes);
    border: 5px solid black;
    padding: 1em 0 0 1em    ;
    width: 45%;
    top: 1%;
    border-radius: 10px;
}

.opcoes__lista {
    list-style-type: none;

}

.opcoes__itens {
    display: flex;
    flex-direction: column;

    font-family: 'Nova Round', cursive;
    font-size: 32px;
    
    margin-bottom: 0.3em;
}

.opcoes__itens a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 720px) {

    .material-symbols-outlined {
        position: absolute;
        right: 1%;
    }

    .opcoes {
        text-align: right;
        padding: 0 1em;
        right: 1%;
        width: 18%;
    }
    
}

@media screen and (min-width: 1220px) {
    

    .material-symbols-outlined {
        display: none;
    }

    .opcoes {
        display: block;
        background: none;
        border: none;
        box-sizing: none;
        padding: 1em;
        width: 750px;
        text-align: right;
    }

    .opcoes__lista {
        display: flex;
    }

    .opcoes__itens {
        margin: 0 0.5em;
        text-transform: uppercase;
    }

}