.skills {
    text-align: center;
}

.skills__titulo {
    margin: 0.5em 0;
}

.skills__listas {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 1.5em;
}

.skills__listas p {
    font-size: 20px;
}


@media screen and (min-width: 720px) {

    .skills__listas li {
        width: 30%;
        justify-content: center;
    }
    
    .skills__listas img {
        width: 50%;
    }

}


@media screen and (min-width: 1220px) {
    
    .skills__listas li {

        width: 20%;
    }

    .skills__listas img {
        width: 40%;
    }

}